body{
    background-image: url(background.jpg);
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-size: cover;
    margin: 0px auto;
}

.header {
    background-color: #131141;
    margin: 0px auto;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-around;
}

h1 , h2 {color: #728FF3;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
}
nav {
    background-color: #728FF3;
    padding: 10px;
    text-align: center;
}
li {
    display: inline;
    margin: 0 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;}
a:hover {
    color: #131141;
    font-weight: bold;
    text-decoration: none;
}